<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="container my-4">
        <h2><%= locals.post !== undefined ? 'Edit post' : 'Create your new post' %></h2>
        <form class="my-4 post-form" method="post" action="<%= locals.post !== undefined ? '/save' : '/create' %>">
            <% if (locals.post){ %>
                <input type="hidden" name="id" value="<%= locals.post.id %>">
            <% } %>
            <div class="row">
                <div class="my-3 col-8">
                    <div>
                        <label for="formFile" class="form-label">Blog image (URL)</label>
                        <input class="form-control" type="text" name="image" value="<%= locals.post !== undefined ? post.image : ''%>">
                    </div>
                    <div>
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="title" value="<%= locals.post !== undefined ? post.title : ''%>">
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <% if (locals.post !== undefined) { %>
                    <img class="post-image" src="<%= post.image %>" alt="blog-image">
                    <% } else { %>
                    <div class="no-post-image">Blog image</div>
                    <% } %>
                </div>
            </div>
            <div class="my-3">
                <label class="form-label" for="content">Content</label>
                <textarea class="form-control" rows="10" name="content"><%= locals.post !== undefined ? post.content : '' %></textarea>
            </div>
            <button class="button primary my-3" type="submit">
                <%= locals.post !== undefined ? 'Save':'Upload' %>
            </button>
        </form>
    </main>
    <script>
        const postImage = document.querySelector('.post-image');
        const imageInput = document.querySelector('input[name="image"]');
        imageInput.addEventListener('input', () => {
            postImage.src = imageInput.value;
        });
    </script>
</body>
</html>