<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="container my-4">
        <h2><%= locals.post !== undefined ? 'Edit post' : 'Create your new post' %></h2>
        <form class="my-4 post-form" method="post" action="<%= locals.post !== undefined ? '/save' : '/create' %>">
            <% if (locals.post){ %>
                <input type="hidden" name="id" value="<%= locals.post.id %>">
            <% } %>
            <div class="row">
                <div class="col-8">
                    <div class="my-3">
                        <label for="formFile" class="form-label">Blog image (URL)</label>
                        <input class="form-control <%= locals.image ? 'is-invalid' : '' %>" type="text" name="image" value="<%= locals.post !== undefined ? post.image : ''%>">
                        <% if (locals.image) { %>
                        <div class="invalid-feedback"><%= image %></div>
                        <% } %>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control <%= locals.title ? 'is-invalid' : '' %>" type="text" name="title" value="<%= locals.post !== undefined ? post.title : ''%>">
                        <% if (locals.title) { %>
                        <div class="invalid-feedback"><%= title %></div>
                        <% } %>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img class="post-image <%= locals.post !== undefined ? '' : 'hidden' %>" 
                    src="<%= locals.post !== undefined ? post.image : '#' %>" alt="blog-image">
                    <div class="no-post-image <%= locals.post !== undefined ? 'hidden' : '' %>">Blog image</div>
                </div>
            </div>
            <div class="my-3">
                <label class="form-label" for="content">Content</label>
                <textarea class="form-control <%= locals.content ? 'is-invalid' : '' %>" rows="10" name="content"><%= locals.post !== undefined ? post.content : '' %></textarea> 
                <% if (locals.content) { %>
                <div class="invalid-feedback"><%= content %></div>
                <% } %>
            </div>
            <button disabled id="submitButton" class="button primary my-3" type="submit">
                <%= locals.post !== undefined ? 'Save':'Upload' %>
            </button>
        </form>
    </main>
    <script>
        const postImage = document.querySelector('.post-image');
        const noPostImage = document.querySelector('.no-post-image');
        const imageInput = document.querySelector('input[name="image"]');
        const titleInput = document.querySelector('input[name="title"]');
        const contentInput = document.querySelector('textarea[name="content"]');
        const submitButton = document.getElementById('submitButton');

        evaluateParameters();

        if (postImage.getAttribute('src') === '') {
            postImage.classList.add('hidden');
            noPostImage.classList.remove('hidden');
        }

        imageInput.addEventListener('input', (event) => {
            const img = new Image();
            img.src = imageInput.value;
            img.onload = () => {
                postImage.src = imageInput.value;
                noPostImage.classList.add('hidden');
                postImage.classList.remove('hidden');
            }
            img.onerror = () => {
                postImage.classList.add('hidden');
                noPostImage.classList.remove('hidden');
            }
        });

        titleInput.addEventListener('input', () => {
            evaluateParameters();
        })

        contentInput.addEventListener('input', () => {
            evaluateParameters();
        })

        function evaluateParameters() {
            if (imageInput.value !== '' && titleInput.value !== '' && contentInput.value !== '') {
                submitButton.disabled = false;
            }
        }

    </script>
</body>
</html>