<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="container post-page my-4">
        <h2 class="my-3">
            <%= post.title %>
        </h2>
        <div class="post-page-info">
            <span>
                <%= post.author %> |
            </span>
            <span>
                <%= post.date %>
            </span>
        </div>
        <img class="my-3" src="<%= post.image %>" alt="post-image">
        <p class="my-3">
            <%= post.content %>
        </p>
        <div class="post-page-interactions">
            <span>Likes: <%= post.likes %></span>
        </div>
        <div class="post-page-comments">
            <div class="post-page-comment">
                <p></p>
            </div>
        </div>
    </main>
</body>
</html>